In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(3,4))

df

          0         1         2         3
0 -0.420662 -1.448509  1.051726  0.408879
1  0.574409  0.131035  1.780373 -1.043200
2 -0.498318 -0.107663  0.010669  0.876314

In [5]:
df

          0         1         2         3
0 -0.420662 -1.448509  1.051726  0.408879
1  0.574409  0.131035  1.780373 -1.043200
2 -0.498318 -0.107663  0.010669  0.876314

In [6]:
df.apply(sum) #by default sum via columns

0   -0.344571
1   -1.425138
2    2.842768
3    0.241993
dtype: float64

In [7]:
df.sum(axis=1) #axis=1 sum via index

0   -0.408566
1    1.442617
2    0.281002
dtype: float64